@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="POST">
    <div>
        <label>Email</label>
        <input type="email" name="email" />
    </div>

    <input type="submit" />
</form>